{
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "dist/**/*.js",
    "docs/**/*.js",
    "coverage/**/*.js",
    "config/**/*.js",
    "webpack.config.js"
  ],
  "reporter": [
    "html",
    "text-summary"
  ],
  "all": true
}